@import "colors";
.about-us{
        height: 100vh;
        width: 100%;
        background-image: url("../assets/svg/page_bg.svg");
        background-repeat: norepeat;
        background-size: cover;
       text-align: center;
       >.container{
        padding: 3rem 1rem;
        display: flex;
        justify-content: space-between;
        width: 80%;
        >.logo{
            >img{
                
            }
        }
        >.about{
            text-align: left;
            padding-left: 50px;
        }
       }
}