@import "colors";
.login{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/svg/page_bg.svg");
    background-repeat: norepeat;
    background-size: cover;
    align-items: center;
    >.container{
        background-image:url("../assets/svg/blob-anime.svg") ;
        background-size: cover;
        background-repeat: norepeat;
        padding: 150px 0 0 0 ;
        text-align: center;
        height: 100vh;
        width: 50%;
        margin: auto; 
        >form{
            margin: 10px 0;
            padding: 10px 10px;
            >input{
                margin-top: 20px;
                border-radius: 3px;
                outline: none;
                width: fit-content;
            }
            
        }
        >.donRec{
            
            justify-content: center;
            display: flex;
            
            >div {
                margin: 15px 10px;
                border-radius:5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
                >a>svg {
                        font-size: 4rem;
                    }
            }
        }
    }
}