@import "colors";
.about-us {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/svg/page_bg.png");
  background-repeat: norepeat;
  background-size: cover;
  text-align: center;
  > .container {
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    > .about {
      text-align: left;
      line-height: 1.4rem;
      padding-left: 50px;
      > .deco {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
      > .list {
        text-decoration: none;
        list-style: none;
        color: black;
        > .listItem {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
