@import "colors";
.eligibility{
    padding-top: 3rem;
        height: 100vh;
        width: 100%;
        background-image: url("../assets/svg/page_bg.png");
        background-repeat: norepeat;
        background-size: cover;
        align-items: center;
        >.container{
            padding: 0 1rem;
            width: 80%;
            height: 80vh;
            margin: 0 auto;
           
            >h2{
                text-align: center;
            text-transform: uppercase;
            font-family: "Roboto";
            }
            >.container2{
                
                margin-top: 1.5rem;
                display: flex;
                justify-content: space-evenly;
                >div{
                   
                >img {
                        padding: 1rem 0.5rem;
                        height: 100px;
                        width: 100px;
                    }
                    >p{
                        font-family: sans-serif;
                        text-emphasis-position: initial;
                        color: rgb(0, 3, 7);
                    }
                }
            }
        }
}