.gallery{
        height: 100vh;
        width: 100%;
        border-radius: 3%;
        margin: 50px 0;
        background-image: url("../assets/svg/page_bg.svg");
        background-repeat: norepeat;
        background-size: cover;
        text-align: center;
        >.images{
            display: flex;
            justify-content: space-around;
            >img{
                width: 30%;
                height: 60vh;
                margin: 70px 0;
                border: 2px slateblue solid;
                border-radius: 5px;
            }
        }
}