@import "colors";
.home {
  display: flex;
  align-items: center;
  height: 90vh;
  overflow-x: hidden;
  background-image: url("../assets/image-home.avif");
  background-color: #e68781;
  background-repeat: no-repeat;
  object-fit: fill;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  div {
    padding-left: 8rem;
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      font-size: 1.2rem;
    }
    > button {
      background-color: white;
      color: $lightdark;
      border: none;
      border-radius: 10px;
      padding: 0.5rem 2rem;
      font-size: 1.1rem;
      text-decoration-style: solid;
      margin: 1rem auto;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-left: 1rem;
      }

      &:hover {
        color: $dark;
      }
    }
    > .container {
      text-align: center;
      > .direct {
        display: inline-block;
        margin-right: 1px;
        list-style: none;
        margin-left: 2px;
        padding: 12px;
        border-radius: 25px;
        background-color: #e68781;
        > .Home-Bottom{
          text-decoration: none;
        }
      }
    }
  }
}
