@import "colors";
.home {
  text-align: center;
  height: 90vh;
  overflow-x: hidden;
  background-image: url("../assets/bg.jpg");
  background-color: #e68781;
  background-repeat: no-repeat;
  object-fit: contain;
    background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

>div{
  >div{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    
    
  >button {
    background-color: $mainColor;
    padding: .5rem;
      outline: none;
      box-shadow: 5px 10px 18px $lightdark;
      margin: 0.5rem;
      width: 90%;
      border-radius: 5px;
      border: none;
      >a{
        text-decoration: none;
        color: aliceblue;
      }

    &:hover {
      background-color: $lightdark;
      box-shadow: 5px 10px 18px $mainColor;
      >a {
          text-decoration: none;
          color: $mainColor;
        }
    }
  }
  }
}
    
  
  div {
    padding-left: 8rem;
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      font-size: 1.2rem;
    }
    
  }
}
