@import "colors";
.login{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/svg/page_bg.svg");
    background-repeat: norepeat;
    background-size: cover;
    align-items: center;
    >.container{
        background-image:url("../assets/svg/blob-anime.svg") ;
        background-size: cover;
        background-repeat: norepeat;
        padding: 50px 0 0 0 ;
        text-align: center;
        height: 100vh;
        width: 55%;
        margin: auto; 
        >h2{ text-transform: uppercase;
            font-family: "Roboto";}
        >form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
           
            justify-content: center;

            >input,
            >button {
                padding: 1rem;
                outline: none;
                border: 1px solid rgb(202, 202, 202);
                margin: 0.5rem;
                width: 40%;
                border-radius: 5px;
            }
        
            >button {
                background-color: $mainColor;
                border: none;
                cursor: pointer;
                color: white;
                font-size: 1rem;
        
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
        >.donRec{
            
            justify-content: center;
            display: flex;
            
            >div {
                margin: 15px 10px;
                border-radius:5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
                >svg {
                        font-size: 4rem;
                    }
                a>svg {
                        font-size: 4rem;
                    }
            }
        }
    }
}